{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Contacto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'contacto' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
            {% endbuttons %}
        </form>

    </div>


 {% bootstrap_javascript jquery='full' %}
</body>
</html>